form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0; /* Add a padding around the top and bottom of the form */
  max-width: 400px; /* Set the maximum width of the form */
}

label {
  margin-bottom: 0.5rem;
}

input {
  width: 80%;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  width: 80%;
  height: 2.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #0070f3;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0052cc;
}

button:disabled {
  background-color: #ccc;
  cursor: default;
}